<?xml version="1.0" ?>
<robot name="turtlebot3_waffle_pi">
  <joint name="turtlebot3_waffle_pi__base_joint" type="fixed">
    <parent link="turtlebot3_waffle_pi__base_footprint"/>
    <child link="turtlebot3_waffle_pi__base_link"/>
    <origin xyz="0   0   0.01" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="turtlebot3_waffle_pi__wheel_left_joint" type="fixed">
    <parent link="turtlebot3_waffle_pi__base_link"/>
    <child link="turtlebot3_waffle_pi__wheel_left_link"/>
    <origin xyz="0      0.14399 0.013" rpy="-1.57  0    0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="turtlebot3_waffle_pi__wheel_right_joint" type="fixed">
    <parent link="turtlebot3_waffle_pi__base_link"/>
    <child link="turtlebot3_waffle_pi__wheel_right_link"/>
    <origin xyz="0      -0.14399  0.013" rpy="-1.57  0    0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="turtlebot3_waffle_pi__caster_back_right_joint" type="ball">
    <parent link="turtlebot3_waffle_pi__base_link"/>
    <child link="turtlebot3_waffle_pi__caster_back_right_link"/>
    <origin xyz="-0.177 -0.064 -0.014" rpy="-1.57  0    0"/>
    <axis xyz="0 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="turtlebot3_waffle_pi__caster_back_left_joint" type="ball">
    <parent link="turtlebot3_waffle_pi__base_link"/>
    <child link="turtlebot3_waffle_pi__caster_back_left_link"/>
    <origin xyz="-0.177  0.064 -0.014" rpy="-1.57  0    0"/>
    <axis xyz="0 0 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="turtlebot3_waffle_pi__imu_joint" type="fixed">
    <parent link="turtlebot3_waffle_pi__base_link"/>
    <child link="turtlebot3_waffle_pi__imu_link"/>
    <origin xyz="-0.032  0     0.058" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="turtlebot3_waffle_pi__lidar_joint" type="fixed">
    <parent link="turtlebot3_waffle_pi__base_link"/>
    <child link="turtlebot3_waffle_pi__base_scan"/>
    <origin xyz="-0.064  0     0.111" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="turtlebot3_waffle_pi__camera_joint" type="fixed">
    <parent link="turtlebot3_waffle_pi__base_link"/>
    <child link="turtlebot3_waffle_pi__camera_link"/>
    <origin xyz="0.07299 -0.011    0.074" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <joint name="turtlebot3_waffle_pi__camera_rgb_joint" type="fixed">
    <parent link="turtlebot3_waffle_pi__camera_link"/>
    <child link="turtlebot3_waffle_pi__camera_rgb_optical_frame"/>
    <origin xyz="0.006   0.022   0.01799" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
  <link name="turtlebot3_waffle_pi__base_footprint">
    <inertial>
      <mass value="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="turtlebot3_waffle_pi__base_link">
    <inertial>
      <mass value="1.3729096e+00"/>
      <origin xyz="-0.064  0     0.048" rpy="0 0 0"/>
      <inertia ixx="4.2111447e-02" ixy="0" ixz="0" iyy="4.2111447e-02" iyz="0" izz="7.5254874e-02"/>
    </inertial>
    <collision name="turtlebot3_waffle_pi__base_collision">
      <origin xyz="-0.064  0     0.038" rpy="0 0 0"/>
      <geometry>
        <box size="0.265 0.265 0.089"/>
      </geometry>
    </collision>
    <visual name="turtlebot3_waffle_pi__base_visual">
      <origin xyz="-0.064  0    -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot3_gazebo/models/turtlebot3_common_meshes/waffle_pi_base.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="turtlebot3_waffle_pi__imu_link">
    <inertial>
      <mass value="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="turtlebot3_waffle_pi__base_scan">
    <inertial>
      <mass value="0.114"/>
      <origin xyz="-0.052  0     0.111" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.001" iyz="0.000" izz="0.001"/>
    </inertial>
    <collision name="turtlebot3_waffle_pi__lidar_sensor_collision">
      <origin xyz="0.012  0    -0.01" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0508" length="0.055"/>
      </geometry>
    </collision>
    <visual name="turtlebot3_waffle_pi__lidar_sensor_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot3_gazebo/models/turtlebot3_common_meshes/lds.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="turtlebot3_waffle_pi__wheel_left_link">
    <inertial>
      <mass value="2.8498940e-02"/>
      <origin xyz="0      0.14399 0.023" rpy="-1.57  0    0"/>
      <inertia ixx="1.8158194e-03" ixy="-9.3392e-12" ixz="1.04909e-11" iyy="3.2922126e-03" iyz="5.75694e-11" izz="1.8158194e-03"/>
    </inertial>
    <collision name="turtlebot3_waffle_pi__wheel_left_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.033" length="0.018"/>
      </geometry>
    </collision>
    <visual name="turtlebot3_waffle_pi__wheel_left_visual">
      <origin xyz="0 0 0" rpy="1.57 0   0"/>
      <geometry>
        <mesh filename="package://turtlebot3_gazebo/models/turtlebot3_common_meshes/tire.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="turtlebot3_waffle_pi__wheel_right_link">
    <inertial>
      <mass value="2.8498940e-02"/>
      <origin xyz="0      -0.14399  0.023" rpy="-1.57  0    0"/>
      <inertia ixx="1.8158194e-03" ixy="-9.3392e-12" ixz="1.04909e-11" iyy="3.2922126e-03" iyz="5.75694e-11" izz="1.8158194e-03"/>
    </inertial>
    <collision name="turtlebot3_waffle_pi__wheel_right_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.033" length="0.018"/>
      </geometry>
    </collision>
    <visual name="turtlebot3_waffle_pi__wheel_right_visual">
      <origin xyz="0 0 0" rpy="1.57 0   0"/>
      <geometry>
        <mesh filename="package://turtlebot3_gazebo/models/turtlebot3_common_meshes/tire.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="turtlebot3_waffle_pi__caster_back_right_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.00001" ixy="0.000" ixz="0.000" iyy="0.00001" iyz="0.000" izz="0.00001"/>
    </inertial>
    <collision name="turtlebot3_waffle_pi__collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005000"/>
      </geometry>
    </collision>
  </link>
  <link name="turtlebot3_waffle_pi__caster_back_left_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.00001" ixy="0.000" ixz="0.000" iyy="0.00001" iyz="0.000" izz="0.00001"/>
    </inertial>
    <collision name="turtlebot3_waffle_pi__collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005000"/>
      </geometry>
    </collision>
  </link>
  <link name="turtlebot3_waffle_pi__camera_link">
    <inertial>
      <mass value="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="turtlebot3_waffle_pi__camera_rgb_optical_frame">
    <inertial>
      <mass value="0.035"/>
      <origin xyz="0.076 0    0.093" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.001" iyz="0.000" izz="0.001"/>
    </inertial>
  </link>
</robot>
