<?xml version="1.0"?>
<robot name = "turtlebot3_waffle_pi" xmlns:xacro="http://ros.org/wiki/xacro">


    <link name="base_footprint"/>

    <link name="base_link">


    </link>


    <link name="imu_link">


    </link>



    <link name="base_scan">


    </link>



    <link name="wheel_left_link">


    </link>



    <link name="wheel_right_link">

    </link>



    <link name="caster_back_left_link">

    </link>


    <link name="caster_back_right_link">

    </link>


    <link name="camera_link"/>

    <link name="camera_rgb_optical_frame">

    </link>
</robot>
